<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title>New User</title></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="dark-overlay">
    <div class="home-inner">
        <div class="container">
            <div class="row">
                <div class="card col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="card-body">
                        <h4>Add New User</h4>
                        <hr>
                        <form id="newUser" method="post"
                              th:action="@{/adminPage/users/newUser}" th:object="${newUser}">
                            <ul class="global-errors" th:if="${#fields.hasErrors('global')}">
                                <li class="text-danger" th:each="err : ${#fields.errors('global')}" th:text="${err}">
                                    Input is incorrect!
                                </li>
                            </ul>

                            <div class="form-group">
                                <label class="lead">First Name</label>
                                <input class="form-control" id="firstName" placeholder="Enter first name" required
                                       th:field="*{firstName}" type="text">
                                <p class="text-danger" th:errors="*{firstName}"
                                   th:if="${#fields.hasErrors('firstName')}"></p>
                            </div>

                            <div class="form-group">
                                <label class="lead">Last Name</label>
                                <input class="form-control" id="lastName" placeholder="Enter last name" required
                                       th:field="*{lastName}" type="text">
                                <p class="text-danger" th:errors="*{lastName}"
                                   th:if="${#fields.hasErrors('lastName')}"></p>
                            </div>

                            <div class="form-group">
                                <label class="lead">Username</label>
                                <input class="form-control" id="username" placeholder="Enter username" required
                                       th:field="*{username}" type="text">
                                <p class="text-danger" th:errors="*{username}"
                                   th:if="${#fields.hasErrors('username')}"></p>
                            </div>

                            <div class="form-group">
                                <label class="lead">Email address</label>
                                <input class="form-control" id="email" placeholder="Enter email" required th:field="*{email}"
                                       th:type="email" type="email">
                                <span class="text-danger" th:errors="*{email}"
                                      th:if="${#fields.hasErrors('email')}"></span>
                            </div>

                            <div class="form-group">
                                <label class="lead">Password</label>
                                <input class="form-control" id="password" placeholder="Enter password" required
                                       th:field="*{password}" type="password">
                                <p class="text-danger"
                                   th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
                            </div>

                            <div class="form-group">
                                <label class="lead">Mobile</label>
                                <input class="form-control" id="mobile" onfocusout="validateMobile()" required
                                       th:field="*{mobile}" type="tel">
                                <p class="text-danger" th:errors="*{mobile}" th:if="${#fields.hasErrors('mobile')}"></p>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-dark" th:href="@{/adminPage/users}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>
<script>
    const phoneInputField = document.querySelector("#mobile");
    const phoneInput = window.intlTelInput(phoneInputField, {
        preferredCountries: ["rs", "me", "mk", "ba", "hr", "hu", "ro", "bg", "al"],
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    function validateMobile() {
        const phoneNumber = phoneInput.getNumber();
        if (phoneInput.isValidNumber()) {
            document.getElementById("mobile").value = phoneNumber;
            document.getElementById("mobile").setCustomValidity("");
        } else {
            document.getElementById("mobile").setCustomValidity("Invalid format of phone number");
        }
    }

    $(document).ready(function () {
        $("form").submit(function (e) {
            validateMobile();
            var form = $(this)[0];
            if (!form.checkValidity()) {
                e.preventDefault();
                e.stopPropagation();
            }
        });
        $('#newUser').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>
</body>
</html>