<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" th:fragment="nav"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" href="#">AES</a>
    <button aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}"><i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenu"
                   role="button"><i class="fas fa-users-cog"></i>Admin Page</a>
                <div aria-labelledby="dropdownMenu" class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/adminPage/users}"><i class="fas fa-users"></i>Users</a>
                    <a class="dropdown-item" th:href="@{/adminPage/roles}"><i class="fas fa-user-shield"></i>Roles</a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/upload}"><i class="fas fa-file-signature"></i>Sign Document</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <span class="navbar-text" sec:authorize="isAuthenticated()">
                    <i class="fas fa-user-circle"></i><span sec:authentication="name"></span>
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: document.logoutForm.submit()">
                    <i class="fas fa-sign-out-alt"></i>Logout</a>
                <form method="post" name="logoutForm" th:action="@{/logout}" type="hidden"></form>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i>Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}"><i class="fas fa-user-plus"></i>Register</a>
            </li>
        </ul>
    </div>
</nav>