/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*region MESSAGES*/
.alert {
    padding: 15px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    border-color: #bce8f1;
    color: #31708f;
    background-color: #d9edf7;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.global-errors {
    list-style-type: none;
    padding: 0;
}

/*endregion*/
body {
    font-family: Helvetica, sans-serif;
}

footer {
    background-color: darkgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25px;
}

.navbar-brand {
    font-family: Rockwell, sans-serif;
}

.dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-inner {
    padding-top: 56px;
    padding-bottom: 25px;
    height: 100%;
}

.container {
    margin-top: 2rem;
}

.container {
    margin-top: 2rem;
}

.btn-primary {
    float: right;
}

.btn-secondary {
    float: left;
}

.form-group .iti {
    display: block;
}

.container .table-container {
    margin: 0 auto;
}

i {
    color: lightgrey;
}

.navbar-text {
    padding-left: 8px;
    padding-right: 8px;
}

tr, td {
    text-align: center;
}

.fas {
    padding-right: 8px;
    cursor: pointer;
}

.fa-users, .fa-user-shield {
    color: dimgrey;
}

