<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title>New Role</title></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="dark-overlay">
    <div class="home-inner">
        <div class="container">
            <div class="row">
                <div class="card col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="card-body">
                        <h4>Add New Role</h4>
                        <hr>
                        <form method="post" th:action="@{/adminPage/roles/newRole}" th:object="${newRole}">
                            <ul class="global-errors" th:if="${#fields.hasErrors('global')}">
                                <li class="text-danger" th:each="err : ${#fields.errors('global')}" th:text="${err}">
                                    Input is incorrect!
                                </li>
                            </ul>
                            <div class="form-group">
                                <label class="lead">Role Name</label>
                                <input class="form-control" id="roleName" placeholder="Enter role name" required
                                       th:field="*{roleName}" type="text">
                                <p class="text-danger" th:errors="*{roleName}"
                                   th:if="${#fields.hasErrors('roleName')}"></p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-dark" th:href="@{/adminPage/roles}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>
</body>
</html>