<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title>Upload</title></head>
<body>
<nav th:replace="fragments/nav :: nav">
</nav>
<div class="dark-overlay">
    <div class="home-inner">
        <div class="container">
            <div class="row">
                <div class="card col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="card-body">
                        <h4>Upload Document for Signing</h4>
                        <hr>
                        <form enctype="multipart/form-data" method="post" th:action="@{/upload-document}"
                              th:object="${documentDto}">
                            <ul class="global-errors" th:if="${#fields.hasErrors('global')}">
                                <li class="text-danger" th:each="err : ${#fields.errors('global')}" th:text="${err}">
                                    Input is incorrect!
                                </li>
                            </ul>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input class="custom-file-input" id="document" name="document" required
                                               type="file">
                                        <label class="custom-file-label">Choose file...</label>
                                        <p class="text-danger"
                                           th:errors="*{document}" th:if="${#fields.hasErrors('document')}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>
<script>
    bsCustomFileInput.init();
</script>
</body>
</html>